<!DOCTYPE html>
<html>
<head>
  <title>ToolChest1602</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <p>Welcome, <%= current_user.username %></p><br>
  <%= link_to "Logout", login_path, method: :delete %>
<% else %>
  <p>Welcome</p><br>
  <%= link_to "Login", login_path %>
<% end %>
<p>
  <strong>Newest tool:</strong> <%= most_recent_tool.name %>
</p>
<p>
  <strong>Current Sessions Tool Summary: </strong> <%= current_tool_summary %>
</p>

<%= yield %>

</body>
</html>
